<?xml version="1.0" encoding="UTF-8"?>
<!--日志级别以及优先级排序: All < Trace < Debug < Info < Warn < Error < Fatal < OFF -->
<!--Configuration后面的status，这个用于设置log4j2自身内部的信息输出，可以不设置，当设置成trace时，会看到log4j2内部各种详细输出 -->
<!--monitorInterval：Log4j能够自动检测修改配置 文件和重新配置本身，设置间隔秒数 -->
<Configuration status="warn" name="XInclude" monitorInterval="30">
    <Properties>
        <Property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} %5p [%t] %c %L : %m%n"/>
        <!-- 格式化输出：%date表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度 %msg：日志消息，%n是换行符-->
    </Properties>
    <Appenders>
        <!-- 输出到控制台，仅在本地开发环境使用 -->
        <Console name="Console" target="SYSTEM_OUT">
            <!--输出日志的格式-->
            <PatternLayout pattern="${PATTERN}"/>
            <!--控制台只输出level及其以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
    </Appenders>
    <Loggers>
        <!--默认的Root Logger 级别-->
        <Root level="debug">
            <!-- 开发环境使用Console Appender，生产环境使用File Appender -->
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>