<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 配置文件的根元素 -->
<configuration>

    <properties>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/mybatis_learn"/>
        <property name="org.apache.ibatis.parsing.PropertyParser.enable-default-value" value="true"/> <!-- 启用默认值特性 -->
        <property name="org.apache.ibatis.parsing.PropertyParser.default-value-separator"
                  value="?:"/> <!-- 修改默认值的分隔符 -->
    </properties>

    <!--配置全局属性-->
    <settings>
        <!--使用jdbc的getGeneratedKeys获取数据库自增主键值-->
        <setting name="useGeneratedKeys" value="true"/>
        <!--使用列标签替换列别名 默认未true-->
        <setting name="useColumnLabel" value="true"/>
        <!--开启驼峰式命名转换：Table{create_time} -> Entity{createTime}-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--        <setting name="configurationFactory" value=""/>-->
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <typeAliases>
        <typeAlias alias="blog" type="com.mybatis.learn.bean.Blog"/>
        <typeAlias alias="user" type="com.mybatis.learn.bean.User"/>
        <typeAlias alias="comment" type="com.mybatis.learn.bean.Comment"/>
        <package name="com.mybatis.learn.bean"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="com.mybatis.learn.handler.DateStringTypeHandler"/>
        <package name="com.mybatis.learn.handler"/>
    </typeHandlers>

    <objectFactory type="com.mybatis.learn.factory.ExampleObjectFactory">
        <property name="someProperty" value="200"/>
    </objectFactory>

    <plugins>
        <plugin interceptor="com.mybatis.learn.plugin.ExecutorPlugin">
            <property name="someProperty" value="100"/>
        </plugin>
        <plugin interceptor="com.mybatis.learn.plugin.ExamplePlugin">
            <property name="testProp" value="200"/>
        </plugin>
        <plugin interceptor="com.mybatis.learn.plugin.PageInterceptor">
            <property name="jdbc.dbType" value="mysql"/>
            <property name="Dialect.oracle" value=""/>
        </plugin>
    </plugins>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/><!-- 单独使用时配置成MANAGED没有事务 -->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
        <environment id="production">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username?:root}"/>
                <property name="password" value="${password?:root}"/>
            </dataSource>
        </environment>
    </environments>
    
    <databaseIdProvider type="DB_VENDOR">
        <property name="MySQL" value="mysql"/>
    </databaseIdProvider>

    <mappers>
        <mapper resource="xml/BlogMapper.xml"/>
        <mapper resource="xml/UserMapper.xml"/>
    </mappers>

</configuration>
